.sidebar {
  ul {
    margin-top: 0;
  }
}


.postlist > article, .sidebar > ul > li, #breadcrumbs, .pagination {
  background-color: lighten($primaryBgColor, 20);
  margin-bottom: $marginDefault/3;
}

.postlist > article, .sidebar > ul > li, #breadcrumbs {
  padding: $marginDefault;
}

@import "nav";
@import "postlist";
@import "sidebar";
