.search-form {
  display: flex;
  justify-content: space-between;
  height: 40px;
  margin-bottom: $marginDefault/3;


  input {
  }

  input.search-field {
    flex: 5;
    border: none;
    padding-left: 10px;
    background-color: #fff;
  }

  input.search-submit {
    flex:1;
    border: none;
    background-color: $secundaryColor;
    color: $primaryColorLight;
  }
}
